<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <header>
    <div class="content">
      <h1>Learn & Teach Better</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum est sit qui deleniti laudantium quam delectus esse voluptates porro, facilis voluptas distinctio illum, tempora quaerat et adipisci optio animi libero?
      </p>
      <a class="cta">Create an account</a><br class="mobile_only" /><a class="cta secondary large_only">Learn more</a>
    </div>

    <img class="school" src="/public/images/school.svg" />
  </header>
</body>
</html>