<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <header>
    <div class="nav_head">
      <a class="logo" href="/"><img src="/public/images/logo_sized.svg" alt="logo" height="50vh"></a>
      <nav>
        <ul class="nav__links">
          <li><a href="#">Services</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
      <a class="cta" href="#">Contact</a>
      <p class="cta menu"><img src="/public/images/menu.svg" /></p>
    </div>

    <img class="school" src="/public/images/school.svg" />

    <div class="content">

      <h1>Learn & Teach Better</h1>
      <p>
        Okuta provides a simple and easy way to set up classrooms with scheduled calls, assignments, and more. Okuta also has features for grading and scheduling your students!
      </p>
      <a class="h_cta">Create an account</a><br class="mobile_only" /><a class="h_cta secondary large_only">Learn more</a>
    </div>

  </header>
  <div class="end_head"></div>

  <div class="container">
    <div class="item hidden fade">
      <h1>Enroll Your Students</h1>
      <p>Securely enroll your students into your classroom!</p>
    </div>
  </div>

  <div class="dark_overlay"></div>

  <div class="overlay">
    <div class="head">
      <a href="/"><img src="/public/images/logo_sized_overlay.svg" alt="logo" height="50vh"></a>
      <a class="close">&times;</a>
    </div>
    <div class="overlay__content">
        
    </div>
  </div>

  <div class="blm">
    Black lives matter. <a target="_blank" href="https://support.eji.org/give/153413/#!/donation/checkout">Support the equal justice initiative.</a>
  </div>

  <script src="/public/fade.js"></script>
  <script src="/public/mobile.js"></script>
</body>
</html>