@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  height: 85vh;
  background: url('/public/images/header_new.jpg');
  background-size: 100vw 90vh;
  color:#fff;
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 90%, /* right bottom */
    0 100% /* left bottom */
  );

  max-width:100vw!important;
  min-width:100vw!important;

  overflow: hidden;
}

header img.school {
  position: absolute;
  left:0;
  bottom:13vh;
  height:50vh;
  width: auto;
}

header .content {
  position: relative;
  top: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align:center;
}

header h1 {
  font-weight: 800;
  font-size:310%;
}

header p {
  font-size:125%;
  width:55vw;
  margin:2% auto;
}

.h_cta {
  display: inline-block;
  padding:1% 2%;
  color:#282C30;
  background:#fff;
  border-radius:30px;
  font-size:130%;
  cursor: pointer;
  margin:0 1%;
  transition: 0.1s ease-in-out;
  position: relative;
  top:0;
  left:0;
}

.h_cta.secondary {
  background: #282C30;
  color:#fff;
}

.h_cta:hover {
  box-shadow: 0 5px 13px rgba(0,0,0,0.4);
}

.h_cta:hover:not(.secondary) {
  color: rgb(69,89,208);
}

.h_cta.secondary:hover {
  background: #363C40;
}

.mobile_only {
  display: none;
}

.end_head {
  height:15vh;
}

.container {
  width: 80vw;
  display: block;
  margin:0 auto 2%;
}

.nav_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: transparent;
  width: 80%;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color:#fff;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0 20px;
}

.nav__links li a {
  transition: 0.3s ease 0s;
  opacity: 0.7;
}

.nav__links li a:hover {
  opacity:0.9;
}

.cta {
  width:12.5vw;
  padding:1%;
  text-align: center;
  color:#282C30;
  background:#fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease 0s;
}

.cta:hover {
  color: rgb(69,89,208);
  text-decoration: none;
  box-shadow: 0 5px 13px rgba(0,0,0,0.4);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
  border-radius: 14px 0 0 14px;
}

.overlay--active {
  width: 60%;
}

.overlay .head {
  border-bottom: 1px solid #ddd;
  margin:3%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  right: 5%;
  top: 1.5%;
  color: #24282B;
  cursor:pointer;
  font-weight:normal;
  opacity:0.8;
}

.overlay .close:hover {
  color: inherit;
  opacity:1;
}

.dark_overlay {
  transition: 0.2s ease;
  position: fixed;
  opacity:0.2;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#000;
  display:none;
}

@media only screen and (max-width: 1025px) {
  .nav_head {
    width: 90vw;
  }

  header img.school {
    height:55vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right:0!important;
    left:initial;
    bottom:18vh;
  }

  header .content {
    top: 30%;
    text-align: left;
    width:70vw!important;
    font-size:80%;
    padding:5%;
    margin-top:5%;
  }

  header .content p {
    width: 100%;
    font-size:140%;
    margin-top: 5%;
    line-height: 4vh;
  }

  header a.h_cta {
    display:inline-block;
    position: initial;
    margin:2% 2% 0 0;
    padding: 2.5%;
  }
}

@media only screen and (max-width: 800px) {

  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    background: transparent;
    color: #fff;
    fill:#fff;
    cursor:pointer;
    opacity:0.7;
    position: absolute;
    right:2%;

    display: inline-block;
  }

  .menu:hover {
    opacity: 0.9;
    box-shadow: none;
  }
}

@media only screen and (max-width: 700px) {
  .end_head {
    height: 10vh
  }
  header {
    height:100vh;
    clip-path: none;
    background: url('/public/images/header_mobile.jpg');
  }

  header img.school {
    height:55vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right:0!important;
    left:initial;
    bottom:0;
  }

  .mobile_only {
    display: inherit;
  }

  .large_only {
    display: none!important;
  }

  header a.h_cta {
    padding: 3.5%;
  }
}

@media only screen and (max-width: 500px ) {
  header img.school {
    height:30vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right:0!important;
    left:initial;
    bottom:0;
  }

  header .content {
    width:100%!important;
  }
}
 
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* hidden & fading */

.hidden {
  opacity: 0;
}

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
.fade {
  animation: fade-in 2s;
}